@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;

  font-family: "Rubik", sans-serif;
  font-size: 16px;

/* Global variables */
/* COLORS */
     --clr-pale-violet: hsl(276, 100%, 81%);    /*(sub-heading at the top of the app UI) */
    --clr-moderate-violet: hsl(276, 55%, 52%);  /* (chat on the left) */
    --clr-desaturated-dark-violet:: hsl(271, 15%, 43%); /* (chat on the right) */
    --clr-grayish-blue: hsl(206, 6%, 79%); /* (placeholder text) */
    --clr-very-dark-desaturated-violet: hsl(271, 36%, 24%); /* (main heading) */
    --clr-dark-grayish-violet: hsl(270, 7%, 64%); /* (paragraph) */

    --clr-white: hsl(0, 0%, 100%);
    --clr-light-grayish-violet: hsl(270, 20%, 96%); /* (app background) */
    --clr-very-dark-desaturated-violet: hsl(271, 36%, 24%); /* (submit button background) */
    --clr-very-vight-magenta: hsl(289, 100%, 72%); /* (radio button outline) */

/* LINEAR BG      */
    --clr-ln-light-magenta: hsl(293, 100%, 63%);
    --clr-ln-light-violet: hsl(264, 100%, 61%);

/* FONTS  */
    --ft-weight400: 400;
    --ft-weight500: 500;
    --ft-weight700: 700;

    --gbl-ft-weight: var(--ft-weight400);
    --gbl-ft-color: var(--clr-dark-grayish-violet);

    
}

body {
    font-weight: var(--gbl-ft-weight);
    color: var(--gbl-ft-color);
}
